.title {
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #323c48;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  -moz-appearance: textfield;
  background: #ffffff;
  border: 1px solid #7e8fa4;
  height: 30px;
  box-sizing: border-box;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 30%;
}

.inputContainer {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  color: #323c48;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 16px;
}
