/* Список товаров */
.productsHeader {
  grid-area: header;
  height: 100px;
  margin: 0;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #323c48;
}
