header {
  min-height: 50px;
}

#root {
  display: grid;
  justify-content: space-around;
  grid-gap: 50px;
  grid-template-areas:
    "header header header header"
    "filter products products third";
}
